<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/46dc3745-f5b3-46f7-81c4-44175fd18d22/resourceGroups/cloudproject/providers/Microsoft.ContainerRegistry/registries/saiproject</ResourceId>
    <ResourceName>saiproject</ResourceName>
    <ResourceGroup>cloudproject</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://saiproject.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1405a1d3-483a-4eda-b838-6f611841acc0</ProjectGuid>
  </PropertyGroup>
</Project>